<div id="page_wrapper">
  <div id="profile_image">
     <%= image_tag "profile2.jpeg" %>
  </div>

  <div id="content">
    <h1>I am the personification of a Happy man!%)</h1>
    <p>this site has been created for the sertain individuals that Hate
    everything and everyone.maybe is not ment to be YOUR cup of tee!@#</p>
  </div>

</div>